.container-box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 350px;
    background: linear-gradient(to right, rgb(0, 82, 212), rgb(67, 100, 247), rgb(111, 177, 252));
    flex-wrap: wrap; /* Adicione flex-wrap para permitir que os itens quebrem para a próxima linha */
    
}

.container-box div {
    height: 430px;
    width: 350px;
    background: #ffff;
    margin: 60px;
    text-align: center;
    border-radius: 2rem;
    padding: 0.4rem 1rem;
}

.lol-one, .lol-second, .lol-third {
font-size: 18px;
margin-top: 1rem;
font-family: 'Inter', sans-serif;
color: #75efff;
}
.divisiones{
    margin-top: 2rem;
}
.lol-a, .lol-b, .lol-c {
    font-size: 15px;
    margin-top: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (min-width: 740px) {
    .container-box {
        flex-wrap: nowrap;
}
.container-box div {
    background: #ffff;
    margin: 20px;
    text-align: center;
}}
