.tabs {
    display: flex;
    align-items: center;
    
    
}
.tabs-container {
    align-items: center;
    justify-content: center;
background-color: white;
margin-top: 3rem;
padding: 0.7rem 2rem;
border-radius: 4px;

}
.tot-one {
    font-size: 30px;
    color: #75efff;
    text-align: center;

}
.tot-a {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: black;
    font-size: 18px;
}

